<!DOCTYPE html>
<html lang="pl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Błażej Wojciechowski - Portfolio</title>

    <meta name="description" content="Tworzenie portfolio na stronie www." />
    <meta name="keywords" content="zamów stronę, tworzenie, www, programista, portfolio, js, html, css" />

    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/fontello.css}" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <div id="container">

        <div class="rectangle">
            <div id="logo"><a th:href="index.html" class="tileLinkHtml5"> Błażej Wojciechowski</a></div>
            <div id="zegar">12:00:00</div>
            <div style="clear: both;"></div>
        </div>

        <div class="square">

            <div class="tile1">
                <a th:href="kimjestem.html" class="tileLink"> <i class="icon-user"></i><br/>Kim jestem?</a>
            </div>

            <a th:href="oferta.html" class="tileLinkHtml5">
            <div class="tile1">
                <i class="icon-laptop"></i><br/>Co oferuję?
            </div>
            </a>

            <div style="clear: both;"></div>

            <div class="tile2">
                <a th:href="cv.html" class="tileLink"><i class="icon-graduation-cap"></i><br/>Curriculum vitae</a>
            </div>

            <div class="tile3">
                <a th:href="kontakt.html" class="tileLink"><i class="icon-mail"></i><br/>Kontakt ze mną</a>
            </div>

            <div style="clear: both;"></div>

            <div class="tile4">
                Talk is cheap. Show me the code!<br/> Linus Torvalds, twórca Linuxa
            </div>

        </div>

        <div class="square">
            <div class="tile5">
                Tytuł podstrony<br/><br/>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed turpis sodales, congue libero quis,
                tincidunt nunc. Sed eget enim consectetur, facilisis tellus at, faucibus sapien. Sed elementum dapibus
                augue ut consectetur. Aenean risus dolor, posuere in convallis vehicula, aliquam et nisi. Integer sit
                amet elit at risus pretium tincidunt. Donec nisl libero, placerat eu vestibulum eget, lacinia et dolor.
            </div>
            <div class="yt">
                <a href="https://youtube.com" class="socialLink" target="_blank"><i class="icon-youtube"></i></a>
            </div>
            <div class="fb">
                <a href="https://facebook.com" class="socialLink" target="_blank"><i class="icon-facebook-squared"></i></a>
            </div>
            <div class="gplus">
                <a href="https://plus.google.com" class="socialLink" target="_blank"><i class="icon-gplus"></i></a>
            </div>
            <div class="tw">
                <a href="https://twitter.com" class="socialLink" target="_blank"><i class="icon-twitter"></i></a>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both"></div>

        <div class="rectangle">2023 &copy; Błażej Wojciechowsski - Portfolio. Programista webowy.
            <i class="icon-mail-alt"></i> wojciechowskiblazej1@gmail.com</div>

    </div>
</body>
</html>